@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Playfair+Display+SC);

.page.old {
    padding-top: 150px;
    background: rgb(224, 215, 175) !important;

    -webkit-filter: sepia(0.7) !important;
}

.old .title {
    font-family: 'Playfair Display SC', serif !important;
}
    
.old .body {
    font-family: 'EB Garamond', serif !important;
}

.trove-banner {
    display: table-row;
    position: fixed;
    z-index: 9999;

    width: 100%;

    font-family: 'EB Garamond', serif !important;

    background: rgb(234, 225, 185) !important;
    box-shadow: 0px 20px 2px rgba(0,0,0, 0.3);
}

.trove-banner > div {
    width: 1000px;
    margin: auto;
}

.trove-banner > div > div {
    display: table-cell;
    max-width: 300px;
    padding: 10px;

    vertical-align: top;
}

.trove-banner > div > div > span {
    display: block;
}
