@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Playfair+Display+SC);

.page.old {
    background: rgb(224, 215, 175) !important;
}

.old .title {
    font-family: 'Playfair Display SC', serif !important;
}
    
.old .body {
    font-family: 'EB Garamond', serif !important;
}

.trove-banner {
    display: table-row;
    position: fixed;
    z-index: 9999;

    width: 100%;

    font-family: 'EB Garamond', serif !important;

    background: rgb(234, 225, 185) !important;
    border: solid 6px rgb(236, 215, 194);
}

.trove-banner > div {
    display: table-cell;
    padding: 10px;

    vertical-align: top;
}

.trove-banner > div > span {
    display: block;
}
